.box {
    width: 420px;
    height: 380px;
    font-size: 24px;
    overflow: scroll;
}
.box__money-rub, .box__money-usd {
    height: 36px;
    width: 150px;
    display: block;
    border: 1px solid #000;
}

